nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand href="#"  Navbar
    button.navbar-toggler aria-controls="navbarNav" aria-expanded="false" aria-label=("Toggle navigation") data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button" 
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          = link_to 'Home',
                    root_path,
                    class: "nav-link #{:active if controller_name == 'pages' && action_name == 'home'}"
        li.nav-item
          = link_to 'News',
                    news_index_path,
                    class: "nav-link #{:active if controller_name == 'news'}"
        
