div
  - if news.present?
    .row
      - news.each do | article |
        .col-md-4.mb-3
          .card.h-100
              - url_image = article['urlToImage'].nil? ? 'https://via.placeholder.com/800x600' : article['urlToImage'] 
              = image_tag url_image, class: 'card-img-top', alt: ''
              .card-body
              h5.card-title = article['title']
              p.card-subtitle.mb-2.text-muted = "Publication date: #{Date.parse(article['publishedAt']).strftime('%d/%m/%Y')}"
              p.card-text = article['description']
              p.card-subtitle.mt-2.text-muted = "Fuente: #{article['source']['name']}"
              .card-footer
              = link_to 'Read Artículo', article['url'], class: 'btn btn-primary w-100', target: '_blank'

  - else
    p = 'No hay noticias para el criterio de búsqueda realizado'