.row
  .col-lg-4.mb-3
    = image_tag 'https://via.placeholder.com/800x600', class: 'card-img-top', alt: ''
  .col-lg-6.mb-3
    h1 = @article.title
    p = "Publication date: #{@article.publication_date.strftime('%d/%m/%Y')}"
.row
  .col-12.mb-3
    h4 = @article.subtitle
.row
  .col-12
    = raw @article.content
.row
  .col-12
    = link_to 'Back to list', articles_path, class: 'btn btn-primary mb-3'
