doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title News Api
    meta content="width=device-width,initial-scale=1" name="viewport" /
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'shared/nav'
    .flash_messages
      - if notice.present?
        .alert.alert-success.alert-dismissible.fade.show role="alert"
          = notice
          button.btn-close aria-label="Close" data-bs-dismiss="alert" type="button" 

      - if alert.present?
        .alert.alert-danger.alert-dismissible.fade.show role="alert"
          = alert
          button.btn-close aria-label="Close" data-bs-dismiss="alert" type="button" 

    .container.pt-3
      = yield
