doctype html
html
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
  body style="background-color: #fff;"
    table align='center' style="width: 600px; backgroud-color: #fff; color: #939393;"
      tr: td
        = image_tag 'header.jpg'
      tr: td style="padding: 1.25rem; font-family: sans-serif;"
        = yield